@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

#root {
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: white;
  color: black;
}

li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap; 
  overflow-x: auto; 
}


form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around; 
  align-items: flex-start; 
}

.mini-container {
  width: calc(25% - 50px); 
  margin: 25px; 
}

.mini-header{
  height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(226, 195, 147);
  text-align: center;
  border-radius: 10px;
  width: 93%;
  margin: 0;
}

#wrong {
  background-color:rgb(219, 93, 93);
}

#correct {
  background-color:rgb(63, 189, 38);
}

.answer-space {
  background-color: rgb(226, 195, 147);
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  margin-left: auto;
  clear: both;
}

li {
  background-color: #FFFDD0;
  border-radius: 15px;
  padding: 10px;
  margin: 5px 0;
}

.button, .newdrink {
  background-color: rgba(138, 98, 12, 0.942);
  color: white;
  border: none;
  border-radius: 15px; 
  padding: 10px 15px; 
  margin: 5px;
  cursor: pointer;
}

.button {
  background-color: rgba(138, 98, 12, 0.942);
  font-weight: bold;
  color: white;
}

.title {
  display: inline-block;
  margin-bottom: 0;
}

.title-container {
  text-align: left;
  margin-bottom: 50px;
}

.drink-container {
  display: flex;
  justify-content: space-between;
}

.mini-header, .answer-space {
  background-color: rgb(226, 195, 147);
  border-radius: 10px; /* Adjust as necessary */
  color: black; /* Adjust if you have a specific color in mind */
  padding: 10px 0;
  text-align: center;
  margin: 10px 0;
}